@import url(https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap);





body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #fddc2d !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #fddc2d !important;
  border-color: #fddc2d !important;
  color: #2b2400 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #000000 !important;
  background-color: #f5ce02 !important;
  border-color: #f5ce02 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #2b2400 !important;
  background-color: #f5ce02 !important;
  border-color: #f5ce02 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff3333 !important;
  border-color: #ff3333 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff3333 !important;
  border-color: #ff3333 !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #19a2e8 !important;
  border-color: #19a2e8 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #19a2e8 !important;
  border-color: #19a2e8 !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #338d99 !important;
  border-color: #338d99 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #338d99 !important;
  border-color: #338d99 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #2e2500 !important;
  background-color: #ffd72e !important;
  border-color: #ffd72e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd72e !important;
  border-color: #ffd72e !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff7733 !important;
  border-color: #ff7733 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff7733 !important;
  border-color: #ff7733 !important;
}
.btn-white {
  color: #232323 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #616161 !important;
  background-color: #e1e1e1 !important;
  border-color: #e1e1e1 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #e1e1e1 !important;
  border-color: #e1e1e1 !important;
}
.btn-white:hover {
  color: #fafafa !important;
}
.btn-white:hover,
.btn-white:hover:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover:hover,
.btn-white:hover:focus,
.btn-white:hover.focus,
.btn-white:hover.active {
  color: #ffffff !important;
  background-color: #0a0a0a !important;
  border-color: #0a0a0a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover.disabled,
.btn-white:hover:disabled {
  color: #ffffff !important;
  background-color: #0a0a0a !important;
  border-color: #0a0a0a !important;
}
.btn-black {
  color: #fafafa !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0a0a0a !important;
  border-color: #0a0a0a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0a0a0a !important;
  border-color: #0a0a0a !important;
}
.btn-black:hover {
  color: #232323 !important;
}
.btn-black:hover,
.btn-black:hover:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover:hover,
.btn-black:hover:focus,
.btn-black:hover.focus,
.btn-black:hover.active {
  color: #616161 !important;
  background-color: #e1e1e1 !important;
  border-color: #e1e1e1 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover.disabled,
.btn-black:hover:disabled {
  color: #7a7a7a !important;
  background-color: #e1e1e1 !important;
  border-color: #e1e1e1 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fddc2d;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #f5ce02 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #2b2400 !important;
  background-color: #fddc2d !important;
  border-color: #fddc2d !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff3333 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #19a2e8 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #338d99 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd72e !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff7733 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background-color: transparent;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #fafafa;
  background-color: transparent;
  border-color: transparent;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background-color: transparent;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #232323;
  background-color: transparent;
  border-color: transparent;
}
.text-primary {
  color: #fddc2d !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #c2a402 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #fddc2d;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-gallery-filter li.active .btn {
  background-color: #fddc2d;
  border-color: #fddc2d;
  color: #443901;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #fddc2d;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fffef7;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #fddc2d !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #fddc2d;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #fddc2d;
  color: #000000;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #fddc2d;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #fddc2d;
  border-bottom-color: #fddc2d;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #fddc2d !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23fddc2d' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-s8RGyI0LDZ {
  background-image: url("../../../assets/images/download-1.tif");
}
.cid-s8RGyI0LDZ .social-row .soc-item {
  display: inline-block;
  text-align: center;
  margin-bottom: 1rem;
  margin-right: .7rem;
}
.cid-s8RGyI0LDZ .social-row .soc-item .mbr-iconfont {
  font-size: 32px;
  border-radius: 50%;
  padding: 0.6rem;
  border: 2px solid #fafafa;
  transition: all 0.3s;
  color: #fafafa;
}
.cid-s8RGyI0LDZ .social-row .soc-item .mbr-iconfont:hover {
  background-color: #fafafa;
  color: #000000;
}
.cid-s8RGyI0LDZ .mbr-text,
.cid-s8RGyI0LDZ .mbr-section-btn,
.cid-s8RGyI0LDZ .social-row {
  color: #232323;
}
.cid-s8RGyI0LDZ .mbr-section-title {
  color: #ffffff;
}
.cid-s8RGyI0LDZ .mbr-section-subtitle {
  color: #c5e8ff;
  text-align: center;
}
.cid-s8SPdF9G08 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #0061b4;
}
.cid-s8SPdF9G08 .mbr-section-subtitle {
  color: #ffffff;
}
.cid-s8SPdF9G08 .mbr-text {
  color: #fafafa;
}
.cid-sacoReePD1 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #c5e8ff;
}
.cid-sacoReePD1 .mbr-overlay {
  z-index: 1;
}
@media (min-width: 992px) {
  .cid-sacoReePD1 .carousel {
    min-height: 400px;
  }
  .cid-sacoReePD1 .carousel img {
    max-height: 400px;
    object-fit: contain;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-sacoReePD1 .carousel {
    min-height: 260px;
  }
  .cid-sacoReePD1 .carousel img {
    max-height: 260px;
    object-fit: contain;
  }
}
@media (max-width: 767px) {
  .cid-sacoReePD1 .carousel {
    min-height: 220px;
  }
  .cid-sacoReePD1 .carousel img {
    max-height: 220px;
    object-fit: contain;
  }
  .cid-sacoReePD1 .container .carousel-control {
    margin-bottom: 0;
  }
  .cid-sacoReePD1 .content-slider-wrap {
    width: 100% !important;
  }
}
.cid-sacoReePD1 .carousel,
.cid-sacoReePD1 .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-sacoReePD1 .item-wrapper {
  width: 100%;
}
.cid-sacoReePD1 .carousel-caption {
  bottom: 40px;
}
.cid-sacoReePD1 .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
.cid-sacoReePD1 .mobi-mbri-arrow-next {
  margin-left: 5px;
}
.cid-sacoReePD1 .mobi-mbri-arrow-prev {
  margin-right: 5px;
}
.cid-sacoReePD1 .container .carousel-indicators {
  margin-bottom: 3px;
}
.cid-sacoReePD1 .carousel-control {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-sacoReePD1 .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-sacoReePD1 .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-sacoReePD1 .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-sacoReePD1 .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 1.5rem !important;
}
.cid-sacoReePD1 .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-sacoReePD1 .carousel-indicators li.active,
.cid-sacoReePD1 .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-sacoReePD1 .carousel-indicators li::after,
.cid-sacoReePD1 .carousel-indicators li::before {
  content: none;
}
.cid-sacoReePD1 .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-sacoReePD1 .carousel-indicators {
    display: none !important;
  }
}
.cid-sacoReePD1 H5 {
  text-align: center;
  color: #fafafa;
}
.cid-sacoReePD1 P {
  color: #fafafa;
}
.cid-sacQnAYtF6 {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-sacQnAYtF6 nav.navbar {
  position: fixed;
}
.cid-sacQnAYtF6 .dropdown-item:before {
  font-family: Moririse2 !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sacQnAYtF6 .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-sacQnAYtF6 .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-sacQnAYtF6 .dropdown-item:hover,
.cid-sacQnAYtF6 .dropdown-item:focus {
  background: #fddc2d !important;
  color: white !important;
}
.cid-sacQnAYtF6 .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-sacQnAYtF6 .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-sacQnAYtF6 .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: .667em 1em !important;
}
.cid-sacQnAYtF6 .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sacQnAYtF6 .nav-link {
  position: relative;
}
.cid-sacQnAYtF6 .container {
  display: flex;
  margin: auto;
}
.cid-sacQnAYtF6 .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-sacQnAYtF6 .dropdown-menu,
.cid-sacQnAYtF6 .navbar.opened {
  background: #ffffff !important;
}
.cid-sacQnAYtF6 .nav-item:focus,
.cid-sacQnAYtF6 .nav-link:focus {
  outline: none;
}
.cid-sacQnAYtF6 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sacQnAYtF6 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sacQnAYtF6 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: .5rem;
  vertical-align: sub;
}
.cid-sacQnAYtF6 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sacQnAYtF6 .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sacQnAYtF6 .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sacQnAYtF6 .navbar {
  min-height: 70px;
  transition: all .3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
.cid-sacQnAYtF6 .navbar.opened {
  transition: all .3s;
}
.cid-sacQnAYtF6 .navbar .dropdown-item {
  padding: .5rem 1.8rem;
}
.cid-sacQnAYtF6 .navbar .navbar-logo img {
  width: auto;
}
.cid-sacQnAYtF6 .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sacQnAYtF6 .navbar.collapsed {
  justify-content: center;
}
.cid-sacQnAYtF6 .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sacQnAYtF6 .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-sacQnAYtF6 .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sacQnAYtF6 .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sacQnAYtF6 .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sacQnAYtF6 .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sacQnAYtF6 .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-sacQnAYtF6 .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-sacQnAYtF6 .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sacQnAYtF6 .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sacQnAYtF6 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sacQnAYtF6 .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sacQnAYtF6 .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sacQnAYtF6 .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sacQnAYtF6 .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sacQnAYtF6 .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sacQnAYtF6 .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sacQnAYtF6 .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sacQnAYtF6 .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-sacQnAYtF6 .navbar.navbar-short {
  min-height: 60px;
}
.cid-sacQnAYtF6 .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sacQnAYtF6 .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sacQnAYtF6 .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sacQnAYtF6 .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sacQnAYtF6 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sacQnAYtF6 .dropdown-item.active,
.cid-sacQnAYtF6 .dropdown-item:active {
  background-color: transparent;
}
.cid-sacQnAYtF6 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sacQnAYtF6 .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sacQnAYtF6 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sacQnAYtF6 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-sacQnAYtF6 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sacQnAYtF6 .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sacQnAYtF6 ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sacQnAYtF6 .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sacQnAYtF6 button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
}
.cid-sacQnAYtF6 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-sacQnAYtF6 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-sacQnAYtF6 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-sacQnAYtF6 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-sacQnAYtF6 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-sacQnAYtF6 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-sacQnAYtF6 nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-sacQnAYtF6 nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-sacQnAYtF6 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-sacQnAYtF6 .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-sacQnAYtF6 a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sacQnAYtF6 .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sacQnAYtF6 .navbar {
    height: 70px;
  }
  .cid-sacQnAYtF6 .navbar.opened {
    height: auto;
  }
  .cid-sacQnAYtF6 .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sacQsN4SBR {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-sacQt6EDUr {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-s8STlri1at {
  background-image: url("../../../assets/images/background15.jpg");
}
.cid-s8STlri1at .social-row .soc-item {
  display: inline-block;
  text-align: center;
  margin-bottom: 1rem;
  margin-right: .7rem;
}
.cid-s8STlri1at .social-row .soc-item .mbr-iconfont {
  font-size: 32px;
  border-radius: 50%;
  padding: 0.6rem;
  border: 2px solid #232323;
  transition: all 0.3s;
  color: #232323;
}
.cid-s8STlri1at .social-row .soc-item .mbr-iconfont:hover {
  background-color: #232323;
  color: #ffffff;
}
.cid-s8Y2Hhh4R9 {
  z-index: 1000;
  width: 100%;
}
.cid-s8Y2Hhh4R9 nav.navbar {
  position: fixed;
}
.cid-s8Y2Hhh4R9 .dropdown-item:before {
  font-family: Moririse2 !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-s8Y2Hhh4R9 .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-s8Y2Hhh4R9 .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-s8Y2Hhh4R9 .dropdown-item:hover,
.cid-s8Y2Hhh4R9 .dropdown-item:focus {
  background: #fddc2d !important;
  color: white !important;
}
.cid-s8Y2Hhh4R9 .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-s8Y2Hhh4R9 .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-s8Y2Hhh4R9 .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: .667em 1em !important;
}
.cid-s8Y2Hhh4R9 .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-s8Y2Hhh4R9 .nav-link {
  position: relative;
}
.cid-s8Y2Hhh4R9 .container {
  display: flex;
  margin: auto;
}
.cid-s8Y2Hhh4R9 .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-s8Y2Hhh4R9 .dropdown-menu,
.cid-s8Y2Hhh4R9 .navbar.opened {
  background: #ffffff !important;
}
.cid-s8Y2Hhh4R9 .nav-item:focus,
.cid-s8Y2Hhh4R9 .nav-link:focus {
  outline: none;
}
.cid-s8Y2Hhh4R9 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-s8Y2Hhh4R9 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-s8Y2Hhh4R9 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: .5rem;
  vertical-align: sub;
}
.cid-s8Y2Hhh4R9 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-s8Y2Hhh4R9 .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-s8Y2Hhh4R9 .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-s8Y2Hhh4R9 .navbar {
  min-height: 70px;
  transition: all .3s;
  border-bottom: 1px solid transparent;
  background: rgba(255, 255, 255, 0.2);
}
.cid-s8Y2Hhh4R9 .navbar.opened {
  transition: all .3s;
}
.cid-s8Y2Hhh4R9 .navbar .dropdown-item {
  padding: .5rem 1.8rem;
}
.cid-s8Y2Hhh4R9 .navbar .navbar-logo img {
  width: auto;
}
.cid-s8Y2Hhh4R9 .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-s8Y2Hhh4R9 .navbar.collapsed {
  justify-content: center;
}
.cid-s8Y2Hhh4R9 .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-s8Y2Hhh4R9 .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-s8Y2Hhh4R9 .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-s8Y2Hhh4R9 .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-s8Y2Hhh4R9 .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-s8Y2Hhh4R9 .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-s8Y2Hhh4R9 .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-s8Y2Hhh4R9 .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-s8Y2Hhh4R9 .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-s8Y2Hhh4R9 .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-s8Y2Hhh4R9 .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-s8Y2Hhh4R9 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-s8Y2Hhh4R9 .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-s8Y2Hhh4R9 .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-s8Y2Hhh4R9 .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-s8Y2Hhh4R9 .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-s8Y2Hhh4R9 .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-s8Y2Hhh4R9 .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-s8Y2Hhh4R9 .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-s8Y2Hhh4R9 .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-s8Y2Hhh4R9 .navbar.navbar-short {
  min-height: 60px;
}
.cid-s8Y2Hhh4R9 .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-s8Y2Hhh4R9 .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-s8Y2Hhh4R9 .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-s8Y2Hhh4R9 .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-s8Y2Hhh4R9 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-s8Y2Hhh4R9 .dropdown-item.active,
.cid-s8Y2Hhh4R9 .dropdown-item:active {
  background-color: transparent;
}
.cid-s8Y2Hhh4R9 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-s8Y2Hhh4R9 .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-s8Y2Hhh4R9 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-s8Y2Hhh4R9 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-s8Y2Hhh4R9 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-s8Y2Hhh4R9 .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-s8Y2Hhh4R9 ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-s8Y2Hhh4R9 .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-s8Y2Hhh4R9 button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
}
.cid-s8Y2Hhh4R9 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-s8Y2Hhh4R9 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-s8Y2Hhh4R9 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-s8Y2Hhh4R9 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-s8Y2Hhh4R9 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-s8Y2Hhh4R9 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s8Y2Hhh4R9 nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-s8Y2Hhh4R9 nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-s8Y2Hhh4R9 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s8Y2Hhh4R9 .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-s8Y2Hhh4R9 a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-s8Y2Hhh4R9 .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-s8Y2Hhh4R9 .navbar {
    height: 70px;
  }
  .cid-s8Y2Hhh4R9 .navbar.opened {
    height: auto;
  }
  .cid-s8Y2Hhh4R9 .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-s8Y7v89GQj {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-s8Y7vVUHif {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-s8Y7vVUHif .mbr-section-subtitle {
  text-align: center;
}
.cid-s8Y7vVUHif .mbr-text {
  text-align: left;
}
.cid-s8Y7wJ6JsP {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-s8Y7wJ6JsP .line {
  background-color: #b7b862;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-s8Y7yuB4XV {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-s8Y7yuB4XV .mbr-text {
  text-align: left;
}
.cid-s8Y7yuB4XV .mbr-section-subtitle {
  text-align: center;
}
.cid-s8Y8VrdiEr {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-s8Y8VrdiEr .item {
  padding-bottom: 2rem;
}
.cid-s8Y8VrdiEr .item-wrapper {
  height: 300px;
  position: relative;
}
.cid-s8Y8VrdiEr .item-wrapper img {
  height: 100%;
  object-fit: cover;
}
.cid-s8Y8VrdiEr .item-wrapper .icon-wrapper {
  pointer-events: none;
  position: absolute;
  width: 80px;
  height: 80px;
  font-size: 40px;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #ffffff;
  border-radius: 50%;
  opacity: 0;
  color: #ffffff;
  transform: translateX(-50%) translateY(-50%);
  background-color: #1b1b1b;
  transition: 0.2s;
}
.cid-s8Y8VrdiEr .item-wrapper:hover .icon-wrapper {
  opacity: 0.7;
}
.cid-s8Y8VrdiEr .carousel-control,
.cid-s8Y8VrdiEr .close {
  background: #1b1b1b;
}
.cid-s8Y8VrdiEr .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-s8Y8VrdiEr .carousel-control-prev span {
  margin-right: 5px;
}
.cid-s8Y8VrdiEr .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-s8Y8VrdiEr .carousel-control-next span {
  margin-left: 5px;
}
.cid-s8Y8VrdiEr .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  font-family: 'Moririse2';
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-s8Y8VrdiEr .close::before {
  content: '\e91a';
}
.cid-s8Y8VrdiEr .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-s8Y8VrdiEr .carousel-control {
  display: flex;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-s8Y8VrdiEr .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-s8Y8VrdiEr .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-s8Y8VrdiEr .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-s8Y8VrdiEr .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
}
.cid-s8Y8VrdiEr .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-s8Y8VrdiEr .carousel-indicators li.active,
.cid-s8Y8VrdiEr .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-s8Y8VrdiEr .carousel-indicators li::after,
.cid-s8Y8VrdiEr .carousel-indicators li::before {
  content: none;
}
.cid-s8Y8VrdiEr .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-s8Y8VrdiEr .carousel-indicators {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .cid-s8Y8VrdiEr .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-s8Y8VrdiEr .carousel-indicators {
    display: none;
  }
}
.cid-s8Y8VrdiEr .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-s8Y8VrdiEr .carousel-inner > .active {
  display: block;
}
.cid-s8Y8VrdiEr .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-s8Y8VrdiEr .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-s8Y8VrdiEr .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-s8Y8VrdiEr .carousel-control,
  .cid-s8Y8VrdiEr .carousel-indicators,
  .cid-s8Y8VrdiEr .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-s8Y8VrdiEr .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-s8Y8VrdiEr .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-s8Y8VrdiEr .carousel-indicators .active,
.cid-s8Y8VrdiEr .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #000000;
  opacity: 0.5;
  border: 4px solid #000000;
}
.cid-s8Y8VrdiEr .carousel-indicators .active {
  background: #fff;
}
.cid-s8Y8VrdiEr .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-s8Y8VrdiEr .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-s8Y8VrdiEr .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-s8Y8VrdiEr .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-s8Y8VrdiEr .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-s8Y8VrdiEr .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(100vh - 1.75rem);
}
.cid-s8Y8VrdiEr .carousel {
  width: 100%;
}
.cid-s8Y8VrdiEr .modal-backdrop.in {
  opacity: 0.8;
}
.cid-s8Y8VrdiEr .modal.fade .modal-dialog {
  transition: margin-top 0.3s ease-out;
}
.cid-s8Y8VrdiEr .modal.fade .modal-dialog,
.cid-s8Y8VrdiEr .modal.in .modal-dialog {
  transform: none;
}
.cid-s8Y8VrdiEr .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-s8Y8VrdiEr H6 {
  text-align: center;
}
.cid-s8Y7xRNUfR {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-s8Y7xRNUfR blockquote {
  border-color: #6592e6;
  border-radius: 4px;
  background-color: #fafafa;
}
.cid-sacOD1Rq2P {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-sacOD1Rq2P nav.navbar {
  position: fixed;
}
.cid-sacOD1Rq2P .dropdown-item:before {
  font-family: Moririse2 !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sacOD1Rq2P .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-sacOD1Rq2P .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-sacOD1Rq2P .dropdown-item:hover,
.cid-sacOD1Rq2P .dropdown-item:focus {
  background: #fddc2d !important;
  color: white !important;
}
.cid-sacOD1Rq2P .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-sacOD1Rq2P .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-sacOD1Rq2P .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: .667em 1em !important;
}
.cid-sacOD1Rq2P .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sacOD1Rq2P .nav-link {
  position: relative;
}
.cid-sacOD1Rq2P .container {
  display: flex;
  margin: auto;
}
.cid-sacOD1Rq2P .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-sacOD1Rq2P .dropdown-menu,
.cid-sacOD1Rq2P .navbar.opened {
  background: #ffffff !important;
}
.cid-sacOD1Rq2P .nav-item:focus,
.cid-sacOD1Rq2P .nav-link:focus {
  outline: none;
}
.cid-sacOD1Rq2P .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sacOD1Rq2P .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sacOD1Rq2P .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: .5rem;
  vertical-align: sub;
}
.cid-sacOD1Rq2P .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sacOD1Rq2P .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sacOD1Rq2P .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sacOD1Rq2P .navbar {
  min-height: 70px;
  transition: all .3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
.cid-sacOD1Rq2P .navbar.opened {
  transition: all .3s;
}
.cid-sacOD1Rq2P .navbar .dropdown-item {
  padding: .5rem 1.8rem;
}
.cid-sacOD1Rq2P .navbar .navbar-logo img {
  width: auto;
}
.cid-sacOD1Rq2P .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sacOD1Rq2P .navbar.collapsed {
  justify-content: center;
}
.cid-sacOD1Rq2P .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sacOD1Rq2P .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-sacOD1Rq2P .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sacOD1Rq2P .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sacOD1Rq2P .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sacOD1Rq2P .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sacOD1Rq2P .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-sacOD1Rq2P .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-sacOD1Rq2P .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sacOD1Rq2P .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sacOD1Rq2P .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sacOD1Rq2P .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sacOD1Rq2P .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sacOD1Rq2P .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sacOD1Rq2P .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sacOD1Rq2P .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sacOD1Rq2P .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sacOD1Rq2P .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sacOD1Rq2P .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-sacOD1Rq2P .navbar.navbar-short {
  min-height: 60px;
}
.cid-sacOD1Rq2P .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sacOD1Rq2P .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sacOD1Rq2P .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sacOD1Rq2P .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sacOD1Rq2P .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sacOD1Rq2P .dropdown-item.active,
.cid-sacOD1Rq2P .dropdown-item:active {
  background-color: transparent;
}
.cid-sacOD1Rq2P .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sacOD1Rq2P .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sacOD1Rq2P .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sacOD1Rq2P .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-sacOD1Rq2P .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sacOD1Rq2P .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sacOD1Rq2P ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sacOD1Rq2P .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sacOD1Rq2P button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
}
.cid-sacOD1Rq2P button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-sacOD1Rq2P button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-sacOD1Rq2P button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-sacOD1Rq2P button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-sacOD1Rq2P button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-sacOD1Rq2P nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-sacOD1Rq2P nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-sacOD1Rq2P nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-sacOD1Rq2P nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-sacOD1Rq2P .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-sacOD1Rq2P a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sacOD1Rq2P .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sacOD1Rq2P .navbar {
    height: 70px;
  }
  .cid-sacOD1Rq2P .navbar.opened {
    height: auto;
  }
  .cid-sacOD1Rq2P .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sacPcSyBBH {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-sacPdfnla1 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
