body,html{
  margin:0;
  padding:0;
  height:100%;
  background:#e3dfd2;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-x:hidden;
  overflow-y:auto;
}
div.box{background:#e3dfd2; size: cover; padding-bottom: 100vh}
.wrap{
  position: absolute;
  right:13vw;
  width: 80vmin; height:80vmin;
  margin:0 auto;
  background:inherit;
  transform:scale(0.8) translateZ(0px) translateX(10vmax);
  transition:transform 0.5s, opacity 0.5s;
  float: top;
  z-index: 3;
  margin-left: 37vmin;
}
a{
  position:absolute;
  left:0; top:0;
  width:47.5%; height:47.5%;
  overflow:hidden;
  transform:scale(.5) translateZ(0px);
  background:#585247;
}
a div{
  height:100%;
  background-size:cover;
  opacity:.5;
  transition:opacity .5s;
  border-radius:inherit;
}
a:nth-child(1){
  border-radius:40vmin 0 0 0;
  transform-origin: 110% 110%;
  transition:transform .4s .15s;
}
a:nth-child(1) div{
    background-image: url("Acad.png");
    background-size: cover;
    background-position: 5vmin 1vmin;
}
a:nth-child(2){
  border-radius:0 40vmin 0 0;
  left:52.5%;
  transform-origin: -10% 110%;
  transition:transform .4s .2s;
}
a:nth-child(2) div{
    background-image: url("Cont.png");
    background-size: cover;
    background-position: -3vmin -17.5vmin;
    background-position-x: -1em;
    border-color: black;
}
a:nth-child(3){
  border-radius:0 0 0 40vmin;
  top:52.5%;
  transform-origin: 110% -10%;
  transition:transform .4s .25s;
}
a:nth-child(3) div{
    background-image: url("Home.png");
    background-size: cover;
    background-position: -12vmin -25vmin;
    border-color: black;
}

a:nth-child(4){
  width:100%;height:100%;
  left:22.5%; top:22.5%;
  border-radius:50vmin;
  box-shadow:0 0 0 5vmin #e3dfd2;
  transform:scale(1);
}
a:nth-child(4) div{
    background-image: url("Aboutcent.png");
    background-size: cover;
    background-position: center center;
}

.wrap:hover, .wrap:active{
  transform:scale(.8) translateZ(0px);
  opacity:1;
}
.wrap:hover a, .wrap:active a{
  transform:scale(1) translateZ(0px);
}
a:hover div, a:active div{
  opacity:1;
  transform:translatez(0px);
}


div.footer{
    background-color: #e3dfd2;
    background-size: cover;
    padding-top: 15vh;
    border-top-color: #585247;
    color: black;
    border-top: 10px;
    overflow: hidden;
}

.shad-stroke {
	color: white;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

.parallaxed {
  position: relative;
  margin-top: 0;
  background-image: url("parimg.jpg");
  background-size: cover;
  height: 100%;
  width: auto;
  padding-top: 20vmin;
}

.parallaxed-2 {
  margin-top: 0;
  background-image: url("parimg2.jpg");
  background-size: cover;
  height: 100%;
  width: auto;
  padding-top: 20vmin;
}

.normal {
    width: auto;
    height:100vh;
    padding-top:40vh;
	background-image: url("norimg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
    z-index: 2;
    position: relative;
    background-position: center;
}

.content {
	font-size: 26px;
    margin: 0 auto;
    padding: 4vw;
    width: 50%;
	background: rgb(175, 172, 172);
}

p{
    font-family: "Montserrat";
    text-align: justify;
    font-size: 0.8em;
}

div.maintext{
    position: fixed;
    top: 3vh;
    left: 3vw;
}

textbox{
  font-family: "Playfair Display";
  font-size: 7vmax;
  position: relative;
  top:0;
  left: 0;
}

infobox{
  font-family: "Caveat Brush";
  font-size: 2vmax;
  position: relative;
  top: 12vmin;
  left:0;
}