html,

@font-face{
	font-family: font1;
	src: "Moon2.0-Regular.otf"
}

body{
	background-color: whitesmoke;
	color: black;
}

.responsive{
	width: 100%;
	height: auto;
}

.header{
	padding: 5px 1px;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }

whatever{
	text-align: right;
	color: #ff000f;
}

h1{
	color: #4b99ff;
	text-align: center;
	font-family: font2;
	font-size: 6em;
}

h1 span{
	background-color: rgba(255, 255, 255, 0.596)
}

h2{
	color: whitesmoke;
	text-align: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 2em;
	padding-bottom: 150px;
}

ul{
	list-style-type: none;
	margin: 5px 1px;
	padding: 0;
	overflow: hidden;
	background-color: #686868;
	top: 0;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	border: 1px solid #dedede;
    border-radius: 8px;
}

li{
	border-right: 1px solid #bbb;
	display: block;
	float: left;
}

a{
	display: block;
	color: whitesmoke;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 1.5vw;
}

li a:hover {
	background-color: #000000;
	color: whitesmoke;
  }

li:last-child{
	border-right: none;
}

.active{
	background-color:#f8bf55;
	color: black;
}

li a.active:hover{
	background-color: #fcb83b;
	color: black;
}

p{
	color: black;
	font-size: 1vw;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}